//- include layout
extends /_inc/templates/_layout.pug

//- meta 定義
block meta
  -
    var pageSet = {
      title: 'トップページ',
      description: 'トップページの説明が入ります。',
      imageUrl: '/'+setting.imgPath+'/bg01.jpg',
      type: 'article'
    }

  +metaList(pageSet)


//- コンテンツ
block contents
  p canvas play

  -
    var articles = [
      'speed1',
      'speed2',
      'speed3',
      'triangleFunction1',
      'triangleFunction2',
      'triangleFunction3'                                      
    ];
  
  ul
    each val in articles
      li
        a(href= val + '.html')= val